@import "./font/vazirmatn.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    *, ::before, ::after {
        @apply rtl text-right;
        font-family: "Vazirmatn RD", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    @supports (font-variation-settings: normal){
        *, ::before, ::after {
            font-family: "Vazirmatn VRD", "Vazirmatn RD", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-feature-settings: "ss01", "tnum";
        }
    }
    svg.icon{
        @apply stroke-slate-500 stroke-[1.25px];
        fill: none;
    }
    svg{
        @apply w-8 h-8;
    }

    h1, .h1{
        @apply text-[2rem] leading-[150%] font-black;
    }
    h2, .h2{
        @apply text-[1.75rem] leading-[150%] font-extrabold;
    }
    h3, .h3{
        @apply text-[1.5rem] leading-[150%] font-extrabold;
    }
    h4, .h4{
        @apply text-[1.25rem] leading-[150%] font-bold;
    }
    h5, .h5{
        @apply text-[1rem] leading-[150%] font-bold;
    }
    h6, .h6{
        @apply text-[.75rem] leading-[150%] font-bold;
    }
    .body-1{
        @apply text-[1rem] leading-[150%] font-normal;
    }
    .body-2{
        @apply text-[.875rem] leading-[150%] font-normal;
    }
    .body-3{
        @apply text-[.75rem] leading-[150%] font-normal;
    }
    :focus-visible{
        @apply outline-none;
    }
    a{
        @apply text-primary-400;
    }
    a > svg.icon{
        @apply transition-all hover:stroke-primary-400;
    }
    #livewire-error{
        @apply inset-0;
    }

    [type="checkbox"], [type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;
        display: inline-block;
        vertical-align: middle;
        background-origin: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        height: 1rem;
        width: 1rem;
    }

    [type="checkbox"]:checked, [type="radio"]:checked {
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
}

@layer components {
    .form-control{
        @apply w-full;
    }
    .form-control .form-input{
        @apply relative mb-3;
    }
    .form-control .form-input input,
    .form-control .form-input textarea{
        @apply bg-slate-100 text-slate-500 w-full px-3 py-4 rounded-lg transition
        border border-transparent hover:border hover:border-primary-200
        focus:border focus:border-primary-200;
    }
    .form-select{
        @apply bg-slate-100 text-slate-500 px-3 py-4 rounded-lg transition
        border border-transparent hover:border hover:border-primary-200
        focus:border focus:border-primary-200 relative mb-3 w-full;
    }
    .form-control .form-input label{
        @apply text-slate-400 absolute -translate-y-1/2 top-1/2 right-3
        transition-all rounded-sm select-none pointer-events-none;
    }
    .form-control .form-input input:focus ~ label, .form-control .form-input input:not(:placeholder-shown) ~ label,
    .form-control .form-input textarea:focus ~ label, .form-control .form-input textarea:not(:placeholder-shown) ~ label{
        @apply text-[85%] top-0 right-2 px-1 bg-gradient-to-b from-white to-slate-100
        rounded-3xl;
    }
    .form-control .form-error{
        @apply relative bg-gradient-to-l from-rose-50 to-white
        text-sm text-rose-500 -mt-2 mb-2 px-3 py-1 font-light;
    }
    .form-control .form-error::before{
        @apply h-full w-1 bg-rose-400 top-0 right-0 absolute rounded-l-md;
        content: '';
    }
    .form-control .form-input .form-input-password-icon{
        @apply icon absolute -translate-y-1/2 top-1/2 left-3 w-7 h-7 !stroke-slate-400
        hover:!stroke-slate-500 fill-transparent transition cursor-pointer;
    }

    .form-control .form-input-checkbox input{
        @apply w-4 border border-neutral-300 cursor-pointer rounded text-primary-500 transition-all
         align-middle;
    }
    .form-control .form-input-checkbox input:focus{
        box-shadow: none;
        outline: none;
    }
    .form-control .form-input-checkbox label{
        @apply text-neutral-600 select-none cursor-pointer transition-all text-[90%];
    }
    .form-control .form-input-checkbox input:checked{
        @apply border-primary-500;
    }
    .form-control .form-input-checkbox input:checked ~ label{
        @apply text-neutral-700;
    }




    .form-control .form-button{
        @apply flex flex-row items-center justify-center w-full py-4 px-3 rounded-lg mb-3 font-medium;
    }
    .form-control .form-button.form-button-primary{
        @apply bg-primary-500 text-white
        transition hover:bg-primary-600;
    }
    .form-control .form-button.form-button-small{
        @apply py-3 px-2;
    }
    .form-control .form-button.loading{
        @apply pointer-events-none;
    }
    .form-control .form-button.form-button-primary.loading{
        @apply bg-primary-400;
    }

    .button-link{
        @apply px-3 py-3 rounded-lg;
    }
    .button-link.button-link-secondary{
        @apply bg-neutral-700 text-white;
    }


    .dashboard-menu{
        @apply flex flex-col space-y-1;
    }
    .dashboard-menu .menu-item{
        @apply mx-3;
    }
    .dashboard-menu .menu-item > a{
        @apply flex items-center space-x-2 space-x-reverse py-3.5 px-2.5 rounded-lg transition;
    }
    .dashboard-menu .menu-item > a > .icon{
        @apply w-6 h-6 !stroke-neutral-500;
    }
    .dashboard-menu .menu-item > a > .text{
        @apply body-1 text-neutral-500;
    }

    .dashboard-menu .menu-item.menu-item-active > a{
        @apply bg-primary-500;
    }
    .dashboard-menu .menu-item.menu-item-active > a > .text{
        @apply text-white;
    }
    .dashboard-menu .menu-item.menu-item-active > a > .icon{
        @apply !stroke-white;
    }

    .dashboard-menu .menu-item:not(.menu-item-active) > a:hover,
    .dashboard-menu .menu-item:not(.menu-item-active) > a:focus{
        @apply bg-primary-50;
    }
    .dashboard-menu .menu-item:not(.menu-item-active) > a:hover > .text,
    .dashboard-menu .menu-item:not(.menu-item-active) > a:focus > .text{
        @apply text-primary-500;
    }
    .dashboard-menu .menu-item:not(.menu-item-active) > a:hover > .icon,
    .dashboard-menu .menu-item:not(.menu-item-active) > a:focus > .icon{
        @apply !stroke-primary-500;
    }


    .dashboard-content-box{
        @apply bg-white rounded-lg border border-neutral-200 px-3 pt-4 pb-6;
    }
    .dashboard-content-box .title{
        @apply h3 text-neutral-600;
    }
}

@layer utilities {
    .ltr{
        direction: ltr;
    }
    .rtl{
        direction: rtl;
    }
}
